<script src="bower_components/platform/platform.js"></script>
<link rel="import"
		href="bower_components/polymer-ui-tabs/polymer-ui-tabs.html">

	<!-- Header and Nav 2 -->
	<nav class="top-bar" data-topbar>
		<ul class="title-area">
			<!-- Title Area -->
			<li class="name">
				<h1>
					<a href="#">
						Youtube Searcher...
					</a>
				</h1>
			</li>
			<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
		</ul>
 
		<section class="top-bar-section">
			<!-- Left Nav Section -->
			<ul class="left">
				<li class="divider"></li>
				<li class="has-dropdown">
					<a class="active" href="#">Main Item 1</a>
					<ul class="dropdown">
						<li><label>Section Name</label></li>
						<li><a href="#" class="">Dropdown Level 1</a></li>
						<li><a href="#">Dropdown Option</a></li>
						<li><a href="#">Dropdown Option</a></li>
						<li class="divider"></li>
						<li><label>Section Name</label></li>
						<li><a href="#">Dropdown Option</a></li>
						<li><a href="#">Dropdown Option</a></li>
						<li><a href="#">Dropdown Option</a></li>
						<li class="divider"></li>
						<li><a href="#">See all →</a></li>
					</ul>
				</li>
				<li class="divider"></li>
				<li><a href="#">Main Item 2</a></li>
				<li class="divider"></li>
				<li class="has-dropdown">
					<a href="#">Main Item 3</a>
					<ul class="dropdown">
						<li><a href="#">Dropdown Option</a></li>
						<li><a href="#">Dropdown Option</a></li>
						<li><a href="#">Dropdown Option</a></li>
						<li class="divider"></li>
						<li><a href="#">See all →</a></li>
					</ul>
				</li>
			 
			</ul>
 
		</section>
	</nav>
	
	<!-- Footer -->
 	<youtube-list></youtube-list>

	<footer class="row">
		<div class="large-12 columns">
			<hr />
			<div class="row">
				<div class="large-6 columns">
					<p>© Copyright no one at all. Go to town.</p>
				</div>
				<div class="large-6 columns">
					<ul class="inline-list right">
						<li><a href="#">Section 1</a></li>
						<li><a href="#">Section 2</a></li>
						<li><a href="#">Section 3</a></li>
						<li><a href="#">Section 4</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>

<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="polymers/youtube-list.html">



