<script src="bower_components/platform/platform.js"></script>
<link rel="import" href="bower_components/polymer-ui-tabs/polymer-ui-tabs.html">
	<!-- Footer -->
    <div class="row videos-list">
    	
		<div class="large-12 columns">
 	        <youtube-list uid="<%= user.uid %>"></youtube-list>
        </div>
    </div>

	<footer class="row">
		<div class="large-12 columns">
			<hr />
			<div class="row">
				<div class="large-6 columns">
					<p>© Copyright no one at all. Go to town.</p>
				</div>
				<div class="large-6 columns">
					<ul class="inline-list right">
						<li><a href="#">Section 1</a></li>
						<li><a href="#">Section 2</a></li>
						<li><a href="#">Section 3</a></li>
						<li><a href="#">Section 4</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>

<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="polymers/youtube-list.html">



