<div class="row">
		<div class="large-12 columns">


				<!-- Mobile Header -->


				<div class="row">
					<div class="small-12 show-for-small"><br>
						<img src="http://placehold.it/1000x600&text=For Small Screens" />
				</div>
		</div>


		<!-- End Mobile Header -->

</div>
</div>



<div class="row">


		<div class="large-12 columns">
			<div class="row">

				<!-- Content -->

				<div class="large-8 columns">
					<div class="panel radius">

							<div class="row">
									<div class="large-6 small-6 columns">

										<h4>Remote</h4><hr/>
										<h5 class="subheader">
												<a href="#" class="small radius button">Control</a>
										</h5>

										<h4>Screen</h4><hr/>
										<h5 class="subheader">
												<a href="#" class="small radius button">Watch it!</a>
										</h5>

								</div>
								<div class="large-6 small-6 columns">
										<p>
												watch &amp; control youtube videos on any device
										</p>
								</div>

						</div>
				</div>
		</div>

		<h2>Hi <%= user.name %></h1>
		<a class="btn" href="/logout">Logout</a>
		<table class="table">
			<% for(key in user.toJSON() ) { %>
			<tr>
				<td><%= key %>: </td>
				<td class="boxy"><%= user[key] %></td>
			</tr>
			<% } %>
		</table>

		<div class="large-4 columns hide-for-small">

			<h4>Credits</h4><hr/>
			<p>
					Tikal's Javascript Team
			</p>
		</div>

<!-- End Content -->

</div>
</div>
</div>

<!-- Footer -->

<footer class="row">
		<div class="large-12 columns">
			<hr>
			<div class="row">
				<div class="large-6 columns">
					<p>© Tikal Knowledge</p>
			</div>
			<div class="large-6 columns">
					<ul class="inline-list right">
						<li><a href="http://tikalk.com">Tikal</a></li>
						<li><a href="http://tikalk.com/js">Tikal Javascript Page</a></li>
				</ul>
		</div>
</div>
</div>
</footer>
